// Summary page 
$primary-color  : #39aebc;
$green-color    : #41b494;
$red-color      : #d24572;
$white-color    : white;
$grey-color     : #cdd1d5;
$light-green    : #f2fbf9;
$border-green   : #dceeea;
$blue-color     : #52b4ec;
$light-grey     : #f6f6f6;